infra_is_elastic=true
infra_provider_class_name=org.fogbowcloud.scheduler.infrastructure.fogbow.FogbowInfrastructureProvider
infra_order_service_time=100000
infra_resource_service_time=100000
infra_resource_connection_timeout=300000
infra_resource_idle_lifetime=30000
rest_server_port=44444

	
infra_initial_specs_file_path=/home/igorvcs/Dev/sebalScheduleEnv/initialSpec
infra_initial_specs_block_creating=true
	
infra_fogbow_manager_base_url=http://150.165.15.81:8182
infra_fogbow_token_public_key_filepath=/home/igorvcs/Dev/keys/cert

accounting_datastore_url=jdbc:h2:/home/igorvcs/Dev/sebalScheduleEnv/h2db/orders
execution_monitor_period=60000
local.output = /home/igorvcs/Dev/sebalScheduleEnv/result
local_command_interpreter=/bin/bash

fogbow.voms.certificate.password=0k4s3t0k4
fogbow.voms.server=eubrazilcc

