<!DOCTYPE html>
<html lang="en" ng-app="schedulerDashboard">

<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title>Sebal Scheduler Monitor</title>
  <meta name="keywords" content="Sebal Scheduler Monitor Cloud" />
  <meta name="description" content="Sebal Scheduler Monitor">
  <meta name="author" content="LSD - Laboratório de Sistemas Distribuidos">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

  <!-- Summernote CSS  -->
  <link rel="stylesheet" type="text/css" href="vendor/plugins/summernote/summernote.css">

  <!-- Iconsweets CSS(font) -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/iconsweets/iconsweets.css">

  <!-- magnific modal -->
  <link href="vendor/plugins/magnific/magnific-popup.css" rel="stylesheet" type="text/css" >

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  
  <!-- Angular -->
  <script src="vendor/angular/angular.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>

<body class="messages-page ng-clock" ng-controller="dbImagesController">
  <!-- Start: Main -->
  <div id="main">
    <span class='nprogress-logo fade out ng-clock'></span>
    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top navbar-shadow bg-primary">
        <a class="navbar-brand" href="index.html">
          Sebal Scheduler Monitor
        </a>
    </header>
    <!-- End: Header -->

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">



      <!-- Start: Topbar -->
      <header id="topbar" class="alt">
      </header>
      <!-- End: Topbar -->
      <div ng-show="globalMsg.msg !== ''" class="alert {{globalMsg.level}} light alert-dismissable" id="alert-demo-2">
        <button type="button" class="close" ng-click="globalMsg.msg = ''" aria-hidden="true">×</button>
        <i class="fa fa-info pr10"></i>
        {{globalMsg.msg}}
      </div>
      <!-- Begin: Content -->
      <section id="content" class="table-layout animated fadeIn">


        <!-- begin: .tray-center -->
        <div class="tray tray-center pn bg-light">

          <div class="panel" >

            <!-- message menu header -->
            <div class="panel-menu br-n hidden">
              <div class="row table-layout">

                <!-- toolbar left btn group -->
                <div class="col-md-3 va-m pln">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default light" ng-click="getDbImages()">
                      <i class="fa fa-refresh"></i>
                    </button>
                  </div>
	              </div>

	            </div>
	          </div>

            <!-- message toolbar header -->
            <div class="panel-menu br-n">
              <div class="row">
                <div class="hidden-xs hidden-sm col-md-1">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default light" ng-click="getDbImages()" >
                      <i class="fa fa-refresh"></i>
                    </button>
                  </div>
                </div>

                <div id="filters" class="col-md-10 va-m pln" >
                  <h3 align="center" >Filters</h3>
                  <form class="form-inline">
                          <div class="input-group col-md-2">
                                <span class="input-group-addon" id="basic-addon1">Image State</span>
                                <div class="btn-group" id="state-filter-dropdown">
                                    
                                    <button id="state-filter-dropdown-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
                                        aria-expanded="false" >{{filterState}}<span class="caret"></span>
                                    </button>
                                    <ul id="imgStateValues" class="dropdown-menu" >
                                      <li ng-repeat="i in filterStateValues" ng-click="selectStateValue(i)"><a href="#">{{i}}</a></li>
                                    </ul>
                                </div>
                          </div>
                          <div class="input-group  col-md-4">
                                <span class="input-group-addon" id="basic-addon1">Image name</span>
                                <input type="text" class="form-control" placeholder="" ng-model="filterName">
                          </div>

                          <div class="input-group  col-md-4">
                                <span class="input-group-addon" id="basic-addon1">From</span>
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filterPeriodInit" is-open="popupInit.opened" 
                                       datepicker-options="dateOptions"close-text="Close"/>
                                <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="openInit()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                <span class="input-group-addon" id="basic-addon2"> to </span>
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filterPeriodEnd" is-open="popupEnd.opened" 
                                       datepicker-options="dateOptions" close-text="Close" />
                                <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>

                          </div>
                          <div class="input-group">
                            <span class="btn">
                              <span class="glyphicon glyphicon-search" id="search" ng-click="getDbImages()"/>
                            </span>
                       
                          </div>

                          <div class="input-group">
                            <span class="btn" >
                                <span class="glyphicon glyphicon-remove" ng-click="clearFilters()"> Limpar </span>
                            </span>
                          </div>

                  </form>
                </div>
              </div>
              

            </div>
            <div class="panel-menu br-n">
              <div ng-controller="PaginationController">
              <div class="row" >
                    <div class="col-xs-12 col-md-12 text-right">
                      <div class="btn-group">
                        <ul class="pagination" ng-if='pageCount(dbImages) > 0' style="display:inline!important;">
                          <li disable='{{prevPageDisabled}}'>
                            <a href ng-click="prevPage()">
                              <span >&laquo;</span>
                            </a>
                          </li>
                          <li ng-repeat="n in getPages(dbImages)" ng-click="setPage(n-1)">
                              <a href style="{{currentPage === n-1 ? 'background-color:#3498db;color:white;' : '' }}">{{n}}</a></li>
                          <li disable='{{nextPageDisabled}}'>
                            <a href ng-click="nextPage(dbImages)">
                              <span>&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
              </div>
  	          <!-- message listings table -->
  	          <table id="message-table" class="table tc-checkbox-1 admin-form theme-warning br-t">
  	            <thead>
                  <tr>
                      <div class="input-group"> <span class="input-group-addon">Search</span>
                          <input id="filter" type="text" class="form-control" placeholder="Search in table..." ng-keyup="filterTable()" >
                      </div>
                  </tr>
  	              <tr class="">
                    <th class="text-center hidden-xs">#</th>
  	                <th>Name</th>
                    <th>State</th>
                    <th>Time</th>
                    <th class="text-center" >Links</th>
  	              </tr>
  	            </thead>
  	            <tbody class="searchable">
                  <div>
                    <tr  ng-repeat="i in dbImages | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                      <td>{{$index + 1}}</td>
                      <td class="selectable ">{{i.name}}</td>
                      <td>{{ i.status}}</td>
                      <td>{{ i.time}}</td>
                      <td>
                          <div class="text-center" ng-show="i.status === 'FETCHED'">
                              <div class="btn-group btn-group-xs" role="group" data-toggle="modal" data-target="#myModal">
                                 <a ng-repeat="img in i.variables" ng-click="getImageFromRepository(i.name, img)" class="btn btn-default" role="button">{{img}}</a>
                              </div>
                          </div>
                      </td>
                    </tr>
  	            </tbody>
  	          </table>
              </div>
            </div>
           </div>
           <div>
          
         
        </div>

        </div>
        <!-- end: .tray-center -->
        
      </section>
      <!-- End: Content -->

    </section>
  </div>
  <!-- End: Main -->
   <!-- Modal -->
  <div class="modal fade in ng-clock" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="panel-heading">
              <span class="panel-title">
                <i class="fa fa-rocket"></i>
                <span class="hidden-xs">Image: {{imageName}}</span> 
              </span>
        </div>
        <div class="modal-body">
            <div ng-show="loadingImg" align="center"><img src="https://freevps.us/uploads/avatars/avatar_17779.gif" style="height: 32px;"></div>
            <div align="center" ng-show="!loadingImg && errorMsg.msg === ''" style="position:relative;">
                <img data-ng-src="{{imageDownloaded}}" style="width:100%; height:100%" class="img-thumbnail">
                <span class="btn glyphicon glyphicon-download-alt" ng-click="download()" style="position:absolute; left:90%; top:85%; background-color:white;"/>
                
            </div>
            <div ng-show="errorMsg.msg !== ''" class="alert {{errorMsg.level}} light alert-dismissable" id="alert-demo-2">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <i class="fa fa-info pr10"></i>
                       {{errorMsg.msg}}
                </div>
            </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- BEGIN: PAGE SCRIPTS -->

  <!-- jQuery -->
  <script src="vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

  <!-- NProgress Plugin -->
  <script src="vendor/plugins/nprogress/nprogress.js"></script>

  <!-- Summernote Plugin -->
  <script src="vendor/plugins/summernote/summernote.min.js"></script>

  <!-- Theme Javascript -->
  <script src="assets/js/utility/utility.js"></script>
  <script src="assets/js/demo/demo.js"></script>
  <script src="assets/js/main.js"></script>
  <!-- Angular -->
  <script src="vendor/angular/angular-resource.min.js"></script>
  <script src="vendor/angular/ui-bootstrap-tpls-1.3.3.min.js"></script>
  <script src="dashboardApp.js"></script>
  <script src="controllers/dashboardControllers.js"></script>
  <script src="services/dashboardServices.js"></script>
  <!-- modal images -->
  <script src="vendor/plugins/magnific/jquery.magnific-popup.js"></script>
  <script src="vendor/plugins/highlight/highlight.pack.js"></script>
    
  <script type="text/javascript">
    jQuery(document).ready(function() {

    "use strict";

    // Init Theme Core    
    Core.init();

    // Init Demo JS    
    Demo.init();

    //Nprogress

    // Configure Progress Loader
    NProgress.configure({
      minimum: 0.15,
      trickleRate: .07,
      trickleSpeed: 360,
      showSpinner: false,
      barColor: 'npr-warning', // npr-warning, npr-success, npr-primary, etc (all contextuals available)
      barPos: '' // 'null' - (default) - bar position: top of page
        // 'npr-bottom' -  bar position: bottom of page header    
        // 'npr-header' -  bar position: below header        
    });

    $('.magnific-link').magnificPopup({ 
      type: 'image'
      // other options
      // gallery:{enabled:true}
    });

  });
  </script>
  <!-- END: PAGE SCRIPTS -->

</body>

</html>
