<!DOCTYPE html>
<html lang="en" ng-app="schedulerDashboard">

<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title>Sebal Scheduler Monitor</title>
  <meta name="keywords" content="Sebal Scheduler Monitor Cloud" />
  <meta name="description" content="Sebal Scheduler Monitor">
  <meta name="author" content="LSD - Laboratório de Sistemas Distribuidos">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

  <!-- Summernote CSS  -->
  <link rel="stylesheet" type="text/css" href="vendor/plugins/summernote/summernote.css">

  <!-- Iconsweets CSS(font) -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/iconsweets/iconsweets.css">

  <!-- magnific modal -->
  <link href="vendor/plugins/magnific/magnific-popup.css" rel="stylesheet" type="text/css" >

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  
  <!-- Angular -->
  <script src="vendor/angular/angular.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>

<body class="messages-page ng-clock" ng-controller="MonitorController">
  <!-- Start: Main -->
  <div id="main">
    <span class='nprogress-logo fade out ng-clock'></span>
    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top navbar-shadow bg-primary">
        <a class="navbar-brand" href="index.html">
          Sebal Scheduler Monitor
        </a>
    </header>
    <!-- End: Header -->

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

      <!-- Start: Topbar -->
      <header id="topbar" class="alt">
      </header>
      <!-- End: Topbar -->
      <div ng-show="globalMsg.msg !== ''" class="alert {{globalMsg.level}} light alert-dismissable" id="alert-demo-2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-info pr10"></i>
        {{globalMsg.msg}}
      </div>
      <!-- Begin: Content -->
      <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-left -->
        <aside class="tray tray-left tray270 hide" data-tray-height="match">
          <!-- Labels Menu -->
          <div class="list-group list-group-links">
            <div class="list-group-header"> Total of tasks in a state</div>
            <a href="#" class="list-group-item">
              Runnig
              <span class="badge badge-muted" data-toggle="tooltip" title="Total of running states" data-original-title="Total of running states">{{totalRunning}}</span>
            </a>
            <a href="#" class="list-group-item">
              Ready
              <span class="badge badge-warning" data-toggle="tooltip" title="Total of ready states" data-original-title="Total of ready states">{{totalReady}}</span>
            </a>
            <a href="#" class="list-group-item">
              Completed
              <span class="badge badge-system" data-toggle="tooltip" title="Total of completed states" data-original-title="Total of completed states">{{totalCompleted}}</span>
            </a>
            <a href="#" class="list-group-item">
              Fail
              <span class="badge badge-danger" data-toggle="tooltip" title="Total of fail states" data-original-title="Total of fail states">{{totalFail}}</span>
            </a>
          </div>
        </aside>
        <!-- end: .tray-left -->

        <!-- begin: .tray-center -->
        <div class="tray tray-center pn bg-light">

          <div class="panel" ng-controller="PaginationController">

            <!-- message menu header -->
            <div class="panel-menu br-n hidden">
              <div class="row table-layout">

                <!-- toolbar left btn group -->
                <div class="col-md-3 va-m pln">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default light" ng-click="getSebalImages()">
                      <i class="fa fa-refresh"></i>
                    </button>
                  </div>
	              </div>

	              <!-- toolbar right btn group -->
	              <div class="col-xs-12 col-md-9 text-right prn">
	                <div class="btn-group">
	                  <ul class="pagination" ng-if='pageCount(sebalImages) > 0' style="display:inline!important;">
                      <li ng-if='!prevPageDisabled'>
                        <a href ng-click="prevPage()">
                          <span >&laquo;</span>
                        </a>
                      </li>
                      <li ng-repeat="n in getPages()" ng-click="setPage(n-1)"><a href >{{n}}</a></li>
                      <li ng-if='!nextPageDisabled'>
                        <a href ng-click="nextPage()">
                          <span>&raquo;</span>
                        </a>
                      </li>
                    </ul>
	                </div>
	              </div>

	            </div>
	          </div>

            <!-- message toolbar header -->
            <div class="panel-menu br-n">
              <div class="row">
                <div class="hidden-xs hidden-sm col-md-3">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default light" ng-click="getSebalImages()" >
                      <i class="fa fa-refresh"></i>
                    </button>
                  </div>
                </div>
                <div class="col-xs-12 col-md-9 text-right">
                  <div class="btn-group">
                    <ul class="pagination" ng-if='pageCount(sebalImages) > 0' style="display:inline!important;">
                      <li ng-if='!prevPageDisabled'>
                        <a href ng-click="prevPage()">
                          <span >&laquo;</span>
                        </a>
                      </li>
                      <li ng-repeat="n in getPages()" ng-click="setPage(n-1)"><a href >{{n}}</a></li>
                      <li ng-if='!nextPageDisabled'>
                        <a href ng-click="nextPage()">
                          <span>&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div>
  	          <!-- message listings table -->
  	          <table id="message-table" class="table tc-checkbox-1 admin-form theme-warning br-t">
  	            <thead>
  	              <tr class="">
                    <th class="text-center hidden-xs">#</th>
  	                <th>Name</th>
                    <th>State</th>
                    <th>Member</th>
  	                <th class="text-center hidden-xs">Progress</th>
  	              </tr>
  	            </thead>
  	            <tbody>
                  <div>
                    <tr data-toggle="modal" data-target="#myModal" ng-repeat="i in sebalImages | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" ng-click="getTaskForImage(i.name)">
                      <td>{{$index + 1}}</td><td class="selectable " ng-class="{'selected' : i.name == actualImage}">{{i.name}}</td><td>{{ i.state}}</td><td class="hidden-xs">{{i.federationMember }}</td>
                      <td class="hidden-xs" ng-show="i.tasksStatesCount">
                        <div class="widget-menu pull-right mr10">
                          <span class="fs11 text-muted ml10" ng-show="i.tasksStatesCount.RUNNING" ng-init="setRunningCount(i.tasksStatesCount.RUNNING)"><i class="fa fa-circle text-muted fs12 pr5"></i>{{i.tasksStatesCount.RUNNING}} Running</span>
                          <span class="fs11 text-muted ml10" ng-show="i.tasksStatesCount.READY" ng-init="setReadyCount(i.tasksStatesCount.READY)"><i class="fa fa-circle text-warning fs12 pr5"></i>{{i.tasksStatesCount.READY}} Ready</span>
                          <span class="fs11 text-muted ml10" ng-show="i.tasksStatesCount.COMPLETED" ng-init="setCompletedCount(i.tasksStatesCount.COMPLETED)"><i class="fa fa-circle text-system fs12 pr5"></i>{{i.tasksStatesCount.COMPLETED}} Completed</span>
                          <span class="fs11 text-muted ml10" ng-show="i.tasksStatesCount.FAILED" ng-init="setFailCount(i.tasksStatesCount.FAILED)"><i class="fa fa-circle text-danger fs12 pr5"></i>{{i.tasksStatesCount.FAILED}} Failed</span>
                        </div>
                      </td>
                    </tr>
  	            </tbody>
  	          </table>
            </div>
           </div>

        </div>
        <!-- end: .tray-center -->

      </section>
      <!-- End: Content -->

    </section>
  </div>
  <!-- End: Main -->
   <!-- Modal -->
  <div class="modal fade in ng-clock" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" tasks="tasksStates" image="actualImage" warning-tasks="warningTasks">
    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="panel-heading">
              <span class="panel-title">
                <i class="fa fa-rocket"></i><span class="hidden-xs">Tasks for Image:</span> {{actualImage}}</span>
                <div ng-show="loading " style="float:right;"><img src="https://freevps.us/uploads/avatars/avatar_17779.gif" style="height: 32px;"></div>
        </div>
        <div class="modal-body">
          <div class="bs-example table-responsive" data-example-id="bordered-table" ng-repeat="taskState in tasksStates" ng-init="setLoading(false)">
            <span class="badge badge-{{getStyleFromState(taskState.state)}} fs14 p5 m5">{{taskState.tasks.length}} {{taskState.state}}</span>
            
            <table class="table table-bordered">
              <thead>
                  <tr class="{{getStyleFromState(taskState.state)}}">
                      <th>#</th>
                      <th>Task ID</th>
                      <th class="hidden-xs">Resource ID</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="task in taskState.tasks">
                  <th scope="row">{{$index + 1}}</th>
                  <td>
                    <p class="selectable" ng-show="taskState.state === 'COMPLETED'" ng-click="renderImagesForTask(task.taskId)">{{task.taskId}}</p>
                    <p ng-show="taskState.state !== 'COMPLETED'">{{task.taskId}}</p>
                    <div class="text-center" ng-show="taskState.state === 'COMPLETED'">
                      <div ng-show="renderImg && taskState.state === 'COMPLETED'" style="align:center;"><img src="https://freevps.us/uploads/avatars/avatar_17779.gif"   style="height: 32px;"></div>
                      <div class="btn-group btn-group-xs" role="group">
                        <a ng-repeat="img in task.taskImages" ng-click="getRenderedImageForTask(task.taskId, img)" class="btn btn-default" role="button">{{img}}</a>
                      </div>
                    </div>
                  </td>
                  <td class="hidden-xs">{{task.resourceId == '' ? '--' : task.resourceId}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- BEGIN: PAGE SCRIPTS -->

  <!-- jQuery -->
  <script src="vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

  <!-- NProgress Plugin -->
  <script src="vendor/plugins/nprogress/nprogress.js"></script>

  <!-- Summernote Plugin -->
  <script src="vendor/plugins/summernote/summernote.min.js"></script>

  <!-- Theme Javascript -->
  <script src="assets/js/utility/utility.js"></script>
  <script src="assets/js/demo/demo.js"></script>
  <script src="assets/js/main.js"></script>
  <!-- Angular -->
  <script src="vendor/angular/angular-resource.min.js"></script>
  <script src="dashboardApp.js"></script>
  <script src="controllers/dashboardControllers.js"></script>
  <script src="services/dashboardServices.js"></script>
  <!-- modal images -->
  <script src="vendor/plugins/magnific/jquery.magnific-popup.js"></script>
  <script src="vendor/plugins/highlight/highlight.pack.js"></script>
    
  <script type="text/javascript">
    jQuery(document).ready(function() {

    "use strict";

    // Init Theme Core    
    Core.init();

    // Init Demo JS    
    Demo.init();

    //Nprogress

    // Configure Progress Loader
    NProgress.configure({
      minimum: 0.15,
      trickleRate: .07,
      trickleSpeed: 360,
      showSpinner: false,
      barColor: 'npr-warning', // npr-warning, npr-success, npr-primary, etc (all contextuals available)
      barPos: '' // 'null' - (default) - bar position: top of page
        // 'npr-bottom' -  bar position: bottom of page header    
        // 'npr-header' -  bar position: below header        
    });

    $('.magnific-link').magnificPopup({ 
      type: 'image'
      // other options
      // gallery:{enabled:true}
    });

  });
  </script>
  <!-- END: PAGE SCRIPTS -->

</body>

</html>
