##### Image Datastore Configuration #####
datastore_url_prefix=jdbc:postgresql://
datastore_ip=localhost
datastore_port=5432
datastore_name=database
datastore_driver=org.postgresql.Driver
datastore_username=user
datastore_password=password

##### Archiver Configuration #####
saps_sftp_script_path=/home/ubuntu/saps-engine/scripts/sftp-access.sh

default_ftp_server_user=ubuntu
default_ftp_server_port=22

saps_export_path=/local/exports
local_input_output_path=/local/exports

saps_execution_period=60000
default_archiver_period=60000

#Swift
swift_container_name=containername
swift_input_pseud_folder_prefix=/archiver
swift_output_pseud_folder_prefix=/archiver
swift_username=username
swift_password=password
swift_tenant_id=tenantid
swift_tenant_name=tenantname
swift_auth_url=https://cloud.lsd.ufcg.edu.br:5000/v3

#KeyStone-v3 token plugin
fogbow.keystonev3.project.id=projectid
fogbow.keystonev3.user.id=userid
fogbow.keystonev3.password=password
fogbow.keystonev3.auth.url=https://cloud.lsd.ufcg.edu.br:5000
fogbow.keystonev3.swift.url=https://cloud.lsd.ufcg.edu.br:8080/swift/v1
fogbow.keystonev3.swift.token.update.period=1800000
fogbow_cli_path=/home/ubuntu/fogbow-cli

#LDAP token plugin
infra_fogbow_token_update_plugin=org.fogbowcloud.blowout.infrastructure.plugin.LDAPTokenUpdatePlugin
fogbow.ldap.auth.url=ldap://ldap.lsd.ufcg.edu.br:389
fogbow.ldap.username=username
fogbow.ldap.password=password
fogbow.ldap.base=dc=lsd,dc=ufcg,dc=edu,dc=br
fogbow.ldap.encrypt.type=
fogbow.ldap.private.key=/tmp/private_key.pem
fogbow.ldap.public.key=/tmp/public_key.pem
infra_fogbow_token_public_key_filepath=/tmp/token_ldap
infra_fogbow_manager_base_url=http://10.4.3.57:8182
