##### Image Datastore Configuration #####
datastore_url_prefix=jdbc:postgresql://
datastore_ip=localhost
datastore_port=5432
datastore_name=database
datastore_driver=org.postgresql.Driver
datastore_username=user
datastore_password=password

##### Restlet Configuration #####
admin_email=email
admin_user=user
admin_password=password
submission_rest_server_port=8000

# Container Configuration
saps_export_path=/local/exports/

##### USGS Configuration #####
usgs_login_url=https://ers.cr.usgs.gov/login/
usgs_json_url=https://earthexplorer.usgs.gov/inventory/json
usgs_username=username
usgs_password=password
usgs_api_key_period=300000

#### noReply email ####
noreply_email=email
noreply_password=password

#### Swift access ####
swift_auth_url=localhost
swift_project_id=projectid
swift_user_id=userid
swift_password=password
swift_object_store_host=localhost:8080
swift_object_store_path=/path/to/archiver
swift_object_store_container=container
swift_object_store_key=mykey
