##### Image Datastore Configuration #####
datastore_url_prefix=jdbc:postgresql://
datastore_ip=localhost
datastore_port=5432
datastore_name=database
datastore_driver=org.postgresql.Driver
datastore_username=user
datastore_password=password

##### Sebal Task Configuration #####
infra_initial_specs_file_path=/path/to/workerSpec

worker_sandbox=/tmp/sandbox
worker_raster_tmp_dir=/mnt/rasterTmp
worker_operating_system=Linux
worker_kernel_version=4.1.0

saps_worker_run_script_path=/home/ubuntu/saps-engine/scripts/worker-run.sh

worker_remote_user=fogbow

saps_export_path=/local/exports
worker_mount_point=/nfs
remote_command_exit_path=/home/fogbow/exit-check

##### Sebal Scheduler Configuration #####
blowout_dir_path=/home/ubuntu/blowout
infra_order_service_time=60000
infra_resource_service_time=40000

scheduler_period=60000
saps_execution_period=60000
	
infra_specs_block_creating=false

execution_monitor_period=60000

##### Blowout Configuration #####

##### IMPLEMENTATION PLUGINS #####
impl_infra_manager_class_name=org.fogbowcloud.blowout.infrastructure.manager.DefaultInfrastructureManager
impl_scheduler_class_name=org.fogbowcloud.blowout.core.StandardScheduler
impl_blowout_pool_class_name=org.fogbowcloud.blowout.pool.DefaultBlowoutPool
	
##### INFRASTRUCTURE CONSTANTS #####
infra_is_elastic=true
infra_provider_class_name=org.fogbowcloud.blowout.infrastructure.provider.fogbow.FogbowInfrastructureProvider
infra_resource_connection_timeout=20000
infra_resource_idle_lifetime=120000
max_resource_reuse=10000
max_resource_connection_retry=4
infra_monitor_period=30000
local_command_interpreter=/home/ubuntu/blowout/scripts/su_command

##### AUTH TOKEN PROPERTIES - LDAP example #####
infra_auth_token_update_plugin=org.fogbowcloud.blowout.infrastructure.token.LDAPTokenUpdatePlugin
fogbow.ldap.username=username
fogbow.ldap.password=password
fogbow.ldap.auth.url=ldap://ldap.lsd.ufcg.edu.br:389
fogbow.ldap.base=dc=lsd,dc=ufcg,dc=edu,dc=br
auth_token_prop_ldap_encrypt_type=
fogbow.ldap.private.key=/home/ubuntu/saps-engine/private_key.pem
fogbow.ldap.public.key=/home/ubuntu/saps-engine/public_key.pem

##### FOGBOW INFRASTRUCTURE CONSTANTS #####
infra_fogbow_manager_base_url=managerurl

##### TOKEN PROPERTIES #####
token_update_time=2
token_update_time_unit=h
	
##### DB CONSTANTS #####
blowout_datastore_url=jdbc:sqlite:/tmp/blowoutdb.db
